services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./config/grafana/tempo.yml:/etc/tempo.yaml
    networks:
      - observability

  loki:
    image: grafana/loki:latest
    container_name: loki
    command: [ "-config.file=/etc/loki/loki.yaml" ]
    volumes:
      - ./config/grafana/loki.yml:/etc/loki/loki.yaml
    ports:
      - "3100:3100"
    networks:
      - observability

#  prometheus:
#    image: prom/prometheus:latest
#    container_name: prometheus
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#    command:
#      - "--config.file=/etc/prometheus/prometheus.yml"
#    networks:
#      - observability

  grafana:
    image: grafana/grafana:11.4.0
    ports:
      - 3000:3000
    volumes:
      - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./config/grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./config/grafana/dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml
      - ./config/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - observability

  otel-collector:
    privileged: true
    user: 0:0
    image: otel/opentelemetry-collector-contrib:0.118.0
    volumes:
      - ./config/collector/collector-config.yml:/etc/otel-collector-config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/etc/log/
    ports:
      - "4318:4318" # Porta OTLP HTTP
      - "4317:4317" # Porta OTLP gRPC
    command:
      - "--config=/etc/otel-collector-config.yml"
    networks:
      - observability

  mimir:
    image: grafana/mimir:2.15.0
    command: [ "-config.file=/etc/mimir.yaml" ]
    volumes:
      - ./config/grafana/mimir.yaml:/etc/mimir.yaml
    depends_on:
      - grafana
    networks:
      - observability

networks:
  observability:
    driver: bridge
